/* custom-scrollbar */

::-webkit-scrollbar {
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f0427;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce0b3c;
}
